{% extends 'base.html' %}
{% load static %}
{% block content %}
  <a href="{% url 'index' %}">
    <img class="brand brand-lg" src="{% static 'aion/aion-logo.svg' %}">
  </a>
  <p class="text-center">An app for booking school resources. <a href="{% url 'about' %}">Learn More</a></p>
  <h2>Get Started</h2>
  <div class="buttonHolder"> 
    <a class="btn btn-primary btn-dark-gray" href="{% url 'signin' %}">Sign In</a>
  </div>
  <div class="helper-text">or</div>
  <div class="buttonHolder">
    <a class="btn btn-secondary" href="/signup/">Sign Up</a>
  </div>
  
{% endblock %}